.DS_Store
build/**
vgsx/**
games/**
release/**
game
libsteam_api.dylib
vram.bmp
steamworks/Readme.txt
steamworks/public/**
steamworks/steamworksexample/**
steamworks/glmgr/**
steamworks/redistributable_bin/**
steamworks/tools/**
steam_appid.txt
package.conf
src/game_rom.c
src/dewpoint_define.h
vdf/action_manifest.vdf
Makefile.Darwin
config.dat
save.dat
*.zip
