build/**
vgsx/**
games/**
game
libsteam_api.dylib
vram.bmp
steamworks/Readme.txt
steamworks/public/**
steamworks/steamworksexample/**
steamworks/glmgr/**
steamworks/redistributable_bin/**
steamworks/tools/**
