<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>${AppName}</string>

    <key>CFBundleDisplayName</key>
    <string>${AppName}</string>

    <key>CFBundleIdentifier</key>
    <string>${BundleId}</string>

    <key>CFBundleVersion</key>
    <string>${AppVersion}</string>

    <key>CFBundleShortVersionString</key>
    <string>${AppVersion}</string>

    <key>CFBundleExecutable</key>
    <string>${ExeName}</string>

    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <key>LSMinimumSystemVersion</key>
    <string>11.0.0</string>

    <key>NSHighResolutionCapable</key>
    <true/>

    <key>NSPrincipalClass</key>
    <string>NSApplication</string>

    <key>NSMainNibFile</key>
    <string></string>

    <key>SDL_FILESYSTEM_BASE_DIR_TYPE</key>
    <string>parent</string>
</dict>
</plist>
